In [10]:
import numpy as np
import pandas as pd

In [3]:
ser = pd.Series([2,3,4])
ser

0    2
1    3
2    4
dtype: int64

In [57]:
values = np.array([2.0, 1.0, 5.0, 0.97, 3.0, 10.0, 0.0599, 8.0,])
labels = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H',]
ser = pd.Series(data=values, index=labels)
ser.head()

A    2.00
B    1.00
C    5.00
D    0.97
E    3.00
dtype: float64

In [37]:
movie_rating = {
    'age': 1,
    'gender': 'F',
    'genres': 'Drama',
    'movie_id': 1193,
    'occupation': 10,
    'rating': 5,
    'timestamp': 978300760,
    'title': "One Flew Over the Cuckoo's Nest (1975)",
    'user_id': 1,
    'zip': '48067'
    }
ser = pd.Series(movie_rating)
ser

age                                                1
gender                                             F
genres                                         Drama
movie_id                                        1193
occupation                                        10
rating                                             5
timestamp                                  978300760
title         One Flew Over the Cuckoo's Nest (1975)
user_id                                            1
zip                                            48067
dtype: object

In [32]:
ser.loc['gender']

'F'

In [44]:
dd = ser.loc[['gender','rating']]
type(dd)

pandas.core.series.Series

In [9]:
users = pd.read_table('data/ml-1m/users.dat',
                      sep='::', header=None, 
                      names=['user_id', 'gender', 'age', 'occupation', 'zip'], engine='python')

ratings = pd.read_table('data/ml-1m/ratings.dat',
                        sep='::', header=None, 
                        names=['user_id', 'movie_id', 'rating', 'timestamp'], engine='python')

movies = pd.read_table('data/ml-1m/movies.dat',
                       sep='::', header=None, 
                       names=['movie_id', 'title', 'genres'], engine='python')

# show how one of them looks
ratings.head(5)

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [32]:
#subset version (hosted notebook)
movielens_train = pd.read_csv('data/movielens_train.csv', index_col=0, encoding='iso-8859-1')
movielens_test = pd.read_csv('data/movielens_test.csv', index_col=0, encoding='iso-8859-1')
movielens_test.shape

(2668, 11)

In [134]:
ids_to_estimate = zip(movielens_test.user_id, movielens_test.movie_id)
estimated = np.array([my_estimate_func(u,i) for (u,i) in ids_to_estimate])
real = movielens_test.rating.values
estimated.size

2668

In [70]:
movie_rating = {
    'gender': 'F',
    'genres': 'Drama',
    'movie_id': 1193,
    'rating': 5,
    'timestamp': 978300760,
    'user_id': 1,
    }
ser_1 = pd.Series(movie_rating)
ser_2 = pd.Series(movie_rating)
df = pd.DataFrame({'r_1': ser_1, 'r_2': ser_2})
df.columns.name = 'rating_events'
df.index.name = 'rating_data'
df

rating_events        r_1        r_2
rating_data
gender                 F          F
genres             Drama      Drama
movie_id            1193       1193
rating                 5          5
timestamp      978300760  978300760
user_id                1          1

In [83]:
movie_rating = {
    'gender': False,
    'genres': False,
    'movie_id': False,
    'rating': True,
    'timestamp': False,
    'user_id': False
    }
ser = pd.Series(movie_rating)
ser

gender       False
genres       False
movie_id     False
rating        True
timestamp    False
user_id      False
dtype: bool

In [85]:
df.loc[ser,'r_1']

rating_data
rating    5
Name: r_1, dtype: object

In [119]:
user_condition = movielens_train.user_id == 3562
movielens_train.loc[user_condition, 'rating']

4.0

In [111]:
def compute_rmse(y_pred, y_true):
    """ Compute Root Mean Squared Error. """
    
    return np.sqrt(np.mean(np.power(y_pred - y_true, 2)))

In [112]:
def evaluate(estimate_f):
    """ RMSE-based predictive performance evaluation with pandas. """
    
    ids_to_estimate = zip(movielens_test.user_id, movielens_test.movie_id)
    estimated = np.array([estimate_f(u,i) for (u,i) in ids_to_estimate])
    real = movielens_test.rating.values
    return compute_rmse(estimated, real)

In [113]:
def evaluate(estimate_f):
    """ RMSE-based predictive performance evaluation with pandas. """
    
    ids_to_estimate = zip(movielens_test.user_id, movielens_test.movie_id)
    estimated = np.array([estimate_f(u,i) for (u,i) in ids_to_estimate])
    real = movielens_test.rating.values
    return compute_rmse(estimated, real)

In [143]:
def content_mean(user_id, movie_id):
    """ Simple content-filtering based on mean ratings. """
    
    user_condition = movielens_train.user_id == user_id
    return movielens_train.loc[user_condition, 'rating'].mean()

In [144]:
evaluate(content_mean)

1.1667559043475353