In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series([2,3,4])
ser

0    2
1    3
2    4
dtype: int64

In [3]:
values = np.array([2.0, 1.0, 5.0, 0.97, 3.0, 10.0, 0.0599, 8.0,])
labels = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H',]
ser = pd.Series(data=values, index=labels)
ser.head()

A    2.00
B    1.00
C    5.00
D    0.97
E    3.00
dtype: float64

In [4]:
movie_rating = {
    'age': 1,
    'gender': 'F',
    'genres': 'Drama',
    'movie_id': 1193,
    'occupation': 10,
    'rating': 5,
    'timestamp': 978300760,
    'title': "One Flew Over the Cuckoo's Nest (1975)",
    'user_id': 1,
    'zip': '48067'
    }
ser = pd.Series(movie_rating)
ser

age                                                1
gender                                             F
genres                                         Drama
movie_id                                        1193
occupation                                        10
rating                                             5
timestamp                                  978300760
title         One Flew Over the Cuckoo's Nest (1975)
user_id                                            1
zip                                            48067
dtype: object

In [5]:
ser.loc['gender']

'F'

In [6]:
dd = ser.loc[['gender','rating']]
type(dd)

pandas.core.series.Series

In [7]:
users = pd.read_table('data/ml-1m/users.dat',
                      sep='::', header=None, 
                      names=['user_id', 'gender', 'age', 'occupation', 'zip'], engine='python')

ratings = pd.read_table('data/ml-1m/ratings.dat',
                        sep='::', header=None, 
                        names=['user_id', 'movie_id', 'rating', 'timestamp'], engine='python')

movies = pd.read_table('data/ml-1m/movies.dat',
                       sep='::', header=None, 
                       names=['movie_id', 'title', 'genres'], engine='python')

# show how one of them looks
ratings.head(5)

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [8]:
movielens = pd.merge(pd.merge(ratings, users), movies)
movielens.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama

In [9]:
#subset version (hosted notebook)
movielens_train = pd.read_csv('data/movielens_train.csv', index_col=0, encoding='iso-8859-1')
movielens_test = pd.read_csv('data/movielens_test.csv', index_col=0, encoding='iso-8859-1')
movielens_test.shape

(2668, 11)

In [10]:
movie_rating = {
    'gender': 'F',
    'genres': 'Drama',
    'movie_id': 1193,
    'rating': 5,
    'timestamp': 978300760,
    'user_id': 1,
    }
ser_1 = pd.Series(movie_rating)
ser_2 = pd.Series(movie_rating)
df = pd.DataFrame({'r_1': ser_1, 'r_2': ser_2})
df.columns.name = 'rating_events'
df.index.name = 'rating_data'
df.columns.name

'rating_events'

In [11]:
movie_rating = {
    'gender': False,
    'genres': False,
    'movie_id': False,
    'rating': True,
    'timestamp': False,
    'user_id': False
    }
ser = pd.Series(movie_rating)
ser

gender       False
genres       False
movie_id     False
rating        True
timestamp    False
user_id      False
dtype: bool

In [12]:
df.loc[ser,'r_1']

rating_data
rating    5
Name: r_1, dtype: object

In [13]:
tuids = ids_to_estimate = zip(movielens_test.user_id, movielens_test.movie_id)
#estimated = np.array([content_mean(u,i) for (u,i) in ids_to_estimate])
list(ids_to_estimate    )

[(4653, 2648),
 (2259, 1270),
 (3032, 1378),
 (3029, 2289),
 (4186, 2403),
 (2092, 3448),
 (3180, 2244),
 (1962, 292),
 (5042, 1425),
 (1150, 2331),
 (770, 1302),
 (4169, 388),
 (3200, 866),
 (5257, 1219),
 (4520, 1676),
 (1051, 552),
 (5281, 3363),
 (795, 1747),
 (1185, 2123),
 (5112, 2450),
 (5453, 1198),
 (1647, 2058),
 (2909, 1090),
 (2615, 2188),
 (5762, 1721),
 (3163, 553),
 (3266, 527),
 (53, 587),
 (5555, 1183),
 (5959, 3273),
 (3529, 1913),
 (980, 904),
 (5892, 318),
 (2232, 1653),
 (3625, 1625),
 (1842, 194),
 (3384, 1127),
 (4183, 1243),
 (1086, 1617),
 (1150, 2305),
 (5405, 1387),
 (3751, 2406),
 (5219, 3638),
 (1331, 1950),
 (2102, 1094),
 (1523, 1214),
 (3370, 1262),
 (2934, 2445),
 (3256, 110),
 (1586, 3060),
 (1632, 3167),
 (4397, 2396),
 (4793, 2959),
 (3859, 1681),
 (5826, 3252),
 (3942, 1924),
 (33, 1997),
 (1392, 2105),
 (2419, 186),
 (3167, 2395),
 (3993, 2082),
 (4053, 1228),
 (2627, 480),
 (3953, 589),
 (5831, 3753),
 (5869, 1214),
 (5164, 969),
 (26, 3686),
 (3675, 153),
 (787, 3176),
 (4682, 2791),
 (1559, 2014),
 (5806, 3071),
 (3999, 1762),
 (4208, 1721),
 (1597, 2395),
 (4906, 3461),
 (2987, 2571),
 (3622, 2081),
 (2769, 1834),
 (5659, 2302),
 (4473, 1179),
 (5811, 2739),
 (2463, 3785),
 (1147, 2705),
 (5964, 2384),
 (5543, 1396),
 (881, 991),
 (2015, 318),
 (5371, 1194),
 (2030, 3156),
 (528, 2739),
 (355, 3408),
 (5755, 1589),
 (5621, 39),
 (963, 492),
 (1685, 1264),
 (1690, 2688),
 (1088, 1918),
 (781, 736),
 (3423, 1299),
 (4995, 1249),
 (4517, 3107),
 (2916, 1194),
 (1069, 3105),
 (5286, 1500),
 (442, 216),
 (5282, 2889),
 (4373, 1204),
 (1451, 3203),
 (3209, 1961),
 (307, 1104),
 (1698, 2389),
 (5691, 934),
 (3476, 2734),
 (1941, 3477),
 (3770, 52),
 (2878, 1246),
 (1137, 1104),
 (5493, 117),
 (4217, 2759),
 (5158, 588),
 (4049, 3704),
 (1019, 1245),
 (1671, 1949),
 (5321, 367),
 (4140, 2423),
 (5282, 2772),
 (5522, 1394),
 (2751, 3505),
 (139, 2018),
 (2169, 1265),
 (4078, 296),
 (1474, 2527),
 (677, 1747),
 (6000, 3527),
 (1974, 2160),
 (5020, 2454),
 (5376, 2745),
 (876, 1580),
 (4884, 2692),
 (1121, 902),
 (2353, 1028),
 (4050, 590),
 (4666, 3052),
 (1820, 2617),
 (299, 1136),
 (5592, 608),
 (2029, 1060),
 (412, 904),
 (1335, 3728),
 (2212, 110),
 (4327, 296),
 (4449, 2393),
 (2125, 3481),
 (3884, 2750),
 (706, 2607),
 (2060, 193),
 (1396, 2193),
 (1813, 2617),
 (36, 1376),
 (4568, 2890),
 (5614, 2701),
 (1426, 317),
 (4250, 3104),
 (2781, 2682),
 (6016, 3078),
 (2994, 474),
 (5812, 308),
 (4329, 292),
 (631, 508),
 (2857, 707),
 (5190, 1265),
 (1587, 2051),
 (2842, 3683),
 (3497, 3176),
 (271, 260),
 (674, 1266),
 (1354, 3948),
 (1584, 1517),
 (3469, 1947),
 (4422, 2026),
 (4321, 3385),
 (6010, 1704),
 (4478, 745),
 (3072, 3450),
 (930, 1196),
 (2777, 499),
 (2147, 2394),
 (5980, 3035),
 (1135, 1097),
 (3519, 3791),
 (4478, 348),
 (4526, 1960),
 (1446, 1175),
 (4882, 2659),
 (3311, 1275),
 (2005, 2719),
 (5511, 2518),
 (4085, 550),
 (752, 1831),
 (4277, 1095),
 (1279, 1393),
 (475, 2404),
 (754, 2840),
 (5424, 3108),
 (2988, 2734),
 (3391, 144),
 (3671, 3256),
 (887, 852),
 (5070, 1124),
 (2180, 2571),
 (2077, 3360),
 (3012, 2881),
 (543, 1517),
 (3087, 1475),
 (5085, 21),
 (3199, 653),
 (672, 589),
 (2262, 1954),
 (1162, 3426),
 (2173, 1245),
 (5831, 1101),
 (321, 1073),
 (5396, 2762),
 (755, 3655),
 (1146, 2391),
 (5387, 3199),
 (2866, 2411),
 (4699, 1552),
 (858, 2364),
 (3630, 2053),
 (3475, 830),
 (1555, 1394),
 (4377, 1831),
 (1470, 3693),
 (3635, 3671),
 (1960, 1198),
 (1227, 3914),
 (3054, 223),
 (968, 3893),
 (1457, 357),
 (1449, 1237),
 (2436, 2746),
 (3746, 2921),
 (375, 1060),
 (203, 16),
 (3145, 1394),
 (3842, 1125),
 (4770, 912),
 (4387, 2706),
 (1230, 2795),
 (1606, 2688),
 (5617, 2012),
 (1308, 356),
 (5872, 2700),
 (3526, 3840),
 (2873, 300),
 (4656, 994),
 (1426, 953),
 (5034, 1358),
 (482, 1614),
 (5585, 1129),
 (4728, 3723),
 (1383, 32),
 (1430, 1175),
 (3825, 905),
 (4483, 2849),
 (687, 2291),
 (3576, 1944),
 (5575, 2490),
 (5893, 3422),
 (678, 1673),
 (4870, 3683),
 (3345, 2990),
 (2194, 1676),
 (1019, 3048),
 (5136, 1845),
 (4021, 909),
 (5472, 3061),
 (2796, 3175),
 (2962, 3705),
 (5614, 2641),
 (6031, 361),
 (1564, 153),
 (5011, 1205),
 (5394, 44),
 (5418, 1953),
 (3650, 1589),
 (1285, 3571),
 (5636, 3071),
 (411, 337),
 (3752, 2067),
 (2832, 898),
 (1851, 1959),
 (911, 911),
 (5026, 531),
 (2047, 3751),
 (4510, 3742),
 (4496, 3409),
 (850, 1099),
 (4788, 1259),
 (2011, 1230),
 (1301, 2858),
 (4386, 1092),
 (4480, 1447),
 (5518, 1198),
 (3690, 1456),
 (1425, 1033),
 (4161, 3639),
 (5371, 3201),
 (3801, 3021),
 (5660, 3175),
 (1165, 2498),
 (2411, 2968),
 (2221, 3893),
 (1778, 1036),
 (4600, 1258),
 (4754, 1960),
 (5148, 1648),
 (4367, 2762),
 (3031, 2106),
 (92, 2012),
 (4193, 318),
 (3184, 593),
 (1861, 2899),
 (1724, 1598),
 (1748, 1208),
 (5787, 2877),
 (3410, 171),
 (3416, 1200),
 (4049, 2533),
 (861, 1307),
 (984, 2522),
 (3735, 485),
 (3080, 3882),
 (272, 3527),
 (3336, 3018),
 (2288, 1544),
 (3526, 3508),
 (1983, 32),
 (4185, 3576),
 (5595, 3418),
 (4728, 1958),
 (5300, 1747),
 (5367, 2376),
 (2878, 1064),
 (2931, 2501),
 (5948, 199),
 (4279, 2791),
 (3726, 2105),
 (3601, 2268),
 (4510, 898),
 (801, 356),
 (6001, 2288),
 (1556, 3230),
 (4532, 10),
 (1101, 1333),
 (5029, 2058),
 (735, 3354),
 (840, 1033),
 (2857, 159),
 (5953, 2012),
 (10, 2640),
 (699, 532),
 (5161, 358),
 (1715, 3896),
 (5914, 1667),
 (810, 1094),
 (889, 2029),
 (1650, 996),
 (1063, 924),
 (4365, 3837),
 (2561, 3504),
 (2077, 1461),
 (1524, 1921),
 (5607, 1042),
 (4104, 2699),
 (329, 1247),
 (4005, 3897),
 (699, 1200),
 (4221, 955),
 (3885, 34),
 (692, 1704),
 (5972, 919),
 (5847, 1597),
 (3080, 3261),
 (531, 2028),
 (1941, 1473),
 (5556, 2406),
 (2205, 2611),
 (4323, 2094),
 (2941, 2528),
 (4823, 1233),
 (1224, 1459),
 (3620, 1261),
 (6036, 3401),
 (2456, 2290),
 (4417, 1408),
 (195, 256),
 (2772, 3697),
 (3131, 1305),
 (2010, 18),
 (1768, 3738),
 (5359, 1527),
 (2484, 3798),
 (5323, 29),
 (4959, 296),
 (3111, 597),
 (461, 2053),
 (5535, 1676),
 (1340, 288),
 (6021, 471),
 (3929, 788),
 (2167, 2173),
 (3499, 1135),
 (4607, 3897),
 (262, 316),
 (3271, 3016),
 (3159, 3179),
 (3546, 1377),
 (2688, 318),
 (4903, 3299),
 (3740, 1645),
 (4772, 913),
 (5986, 1946),
 (1068, 1416),
 (3833, 110),
 (4465, 2546),
 (5996, 1805),
 (2045, 3107),
 (765, 21),
 (5875, 1084),
 (1836, 2863),
 (5256, 2085),
 (4829, 2700),
 (3641, 2542),
 (1925, 3160),
 (800, 2240),
 (2239, 2985),
 (3191, 2803),
 (3093, 1968),
 (2808, 1584),
 (245, 2988),
 (2941, 1032),
 (560, 110),
 (134, 160),
 (1764, 3744),
 (1317, 2529),
 (4079, 2520),
 (1380, 1525),
 (2796, 2407),
 (1274, 1097),
 (1306, 198),
 (5452, 480),
 (19, 588),
 (3216, 1079),
 (2586, 2859),
 (1519, 246),
 (4728, 319),
 (1218, 3147),
 (927, 3614),
 (5854, 3354),
 (1263, 2961),
 (5981, 2779),
 (284, 1302),
 (3957, 50),
 (3391, 3764),
 (3371, 2366),
 (4510, 382),
 (2550, 1617),
 (4058, 1207),
 (4169, 626),
 (1100, 1777),
 (3081, 3812),
 (4933, 3566),
 (594, 2302),
 (2181, 2898),
 (3171, 659),
 (1756, 2433),
 (4889, 3114),
 (2405, 1097),
 (3806, 2159),
 (1137, 266),
 (1150, 1590),
 (2372, 3408),
 (5600, 531),
 (5663, 1912),
 (975, 2906),
 (5153, 3363),
 (3834, 1887),
 (482, 2023),
 (5350, 1953),
 (953, 3467),
 (4869, 2115),
 (1255, 2791),
 (5812, 2989),
 (4116, 2803),
 (1681, 1242),
 (4729, 1),
 (3574, 1028),
 (2559, 543),
 (93, 1233),
 (2504, 785),
 (1767, 308),
 (1954, 345),
 (3346, 1234),
 (1499, 1544),
 (1272, 3578),
 (4041, 10),
 (1741, 1208),
 (1948, 3440),
 (3684, 2676),
 (3778, 3591),
 (2427, 3538),
 (3925, 3298),
 (2841, 172),
 (1826, 671),
 (5949, 2683),
 (5344, 1097),
 (839, 1356),
 (5526, 50),
 (157, 3418),
 (4391, 3578),
 (5433, 2268),
 (3860, 2818),
 (5729, 1644),
 (2151, 3714),
 (1112, 1947),
 (6030, 1371),
 (4169, 798),
 (2996, 1259),
 (1706, 2331),
 (1589, 3937),
 (3243, 3717),
 (2507, 971),
 (3975, 1240),
 (223, 151),
 (3626, 1876),
 (1904, 733),
 (5878, 1897),
 (1937, 2867),
 (1890, 265),
 (4592, 2916),
 (2620, 1377),
 (2818, 674),
 (3121, 196),
 (4471, 2916),
 (2700, 303),
 (1127, 2858),
 (5982, 1370),
 (5634, 2841),
 (4784, 3424),
 (117, 2519),
 (1865, 308),
 (2376, 1207),
 (137, 2873),
 (2641, 608),
 (1675, 2142),
 (5950, 2836),
 (1696, 260),
 (4834, 2596),
 (2854, 1095),
 (284, 1019),
 (3487, 3751),
 (4658, 3763),
 (2109, 1689),
 (192, 6),
 (5642, 2089),
 (3790, 1288),
 (2496, 1924),
 (1141, 1680),
 (1587, 2100),
 (1969, 2421),
 (1101, 1094),
 (2872, 1673),
 (4779, 924),
 (5801, 1544),
 (2319, 3148),
 (673, 1214),
 (5636, 780),
 (760, 1952),
 (2566, 3555),
 (3589, 969),
 (889, 2542),
 (4242, 552),
 (6022, 296),
 (624, 3468),
 (2726, 1259),
 (1939, 2571),
 (549, 45),
 (1793, 2352),
 (5512, 2985),
 (1842, 2208),
 (3189, 1603),
 (1980, 3791),
 (4723, 2949),
 (3590, 231),
 (2860, 1212),
 (5749, 111),
 (4138, 1097),
 (4328, 293),
 (1502, 3250),
 (2892, 3671),
 (3578, 2405),
 (3607, 1250),
 (5107, 1188),
 (1325, 3754),
 (1938, 594),
 (3237, 36),
 (1984, 736),
 (4598, 1097),
 (4626, 1380),
 (8, 2686),
 (816, 2528),
 (3934, 2700),
 (678, 3877),
 (2624, 1018),
 (2193, 3593),
 (1522, 750),
 (2973, 3160),
 (131, 2081),
 (5705, 783),
 (3771, 2903),
 (3618, 2161),
 (5415, 260),
 (5601, 111),
 (1008, 2770),
 (4601, 368),
 (1941, 2141),
 (4585, 338),
 (5169, 1288),
 (1530, 1225),
 (3453, 1294),
 (4006, 2054),
 (4117, 288),
 (310, 588),
 (5113, 3707),
 (1781, 2655),
 (3129, 471),
 (1184, 2094),
 (5317, 3040),
 (5888, 1947),
 (2124, 3681),
 (4126, 2571),
 (5495, 2712),
 (3705, 1120),
 (3585, 538),
 (3203, 2889),
 (3065, 2330),
 (4116, 1661),
 (1648, 969),
 (854, 25),
 (1605, 1017),
 (4605, 2858),
 (937, 1573),
 (1241, 3160),
 (4401, 2916),
 (2737, 1094),
 (691, 1183),
 (2120, 3298),
 (2235, 2249),
 (4901, 1206),
 (5708, 1373),
 (2014, 34),
 (2771, 553),
 (425, 1272),
 (3513, 1552),
 (3441, 1006),
 (5908, 377),
 (1835, 647),
 (3167, 1732),
 (2548, 2336),
 (3272, 2944),
 (5433, 1371),
 (1875, 2978),
 (2909, 1717),
 (260, 1100),
 (2997, 2357),
 (5759, 892),
 (5758, 2406),
 (2761, 3070),
 (3539, 468),
 (2638, 11),
 (2986, 3756),
 (3705, 2238),
 (4318, 2134),
 (759, 380),
 (3312, 2762),
 (4115, 1301),
 (2100, 3602),
 (1880, 1377),
 (732, 2352),
 (5956, 480),
 (4077, 237),
 (1746, 2300),
 (2496, 1340),
 (3945, 491),
 (1586, 3543),
 (2824, 377),
 (2540, 2353),
 (222, 924),
 (2593, 303),
 (2544, 3022),
 (1317, 95),
 (4595, 858),
 (4543, 2375),
 (1128, 3735),
 (4964, 2174),
 (2485, 593),
 (4685, 3095),
 (6006, 2875),
 (4430, 1027),
 (3716, 6),
 (3053, 3476),
 (1040, 3418),
 (4179, 3019),
 (176, 2752),
 (1181, 2454),
 (3871, 1220),
 (1944, 3556),
 (1988, 3135),
 (977, 3134),
 (5652, 1352),
 (1687, 1194),
 (5198, 3257),
 (5972, 3444),
 (4640, 1073),
 (5165, 1294),
 (1951, 357),
 (3858, 3249),
 (566, 1036),
 (4064, 2147),
 (1680, 2346),
 (6007, 1556),
 (1244, 3274),
 (1579, 2334),
 (1150, 1611),
 (1820, 1207),
 (1974, 1212),
 (255, 1921),
 (3592, 296),
 (408, 2351),
 (5676, 1375),
 (4985, 1876),
 (5536, 1441),
 (5306, 1952),
 (3826, 1639),
 (2124, 3169),
 (499, 1955),
 (1775, 1089),
 (1501, 1881),
 (772, 2628),
 (5757, 1230),
 (5432, 2847),
 (3931, 3752),
 (4104, 3763),
 (3884, 2764),
 (4042, 3366),
 (4511, 1388),
 (4745, 1962),
 (3998, 2367),
 (216, 3096),
 (3688, 903),
 (2947, 3752),
 (5082, 337),
 (4906, 919),
 (4682, 1955),
 (1005, 2987),
 (3285, 1754),
 (2899, 1641),
 (2031, 930),
 (2106, 840),
 (1889, 3408),
 (3336, 1372),
 (3074, 1721),
 (5087, 3524),
 (1974, 905),
 (3394, 1938),
 (5755, 1735),
 (4089, 3256),
 (136, 1214),
 (4078, 3552),
 (1943, 2628),
 (4406, 1210),
 (18, 292),
 (4294, 1020),
 (3224, 36),
 (466, 2174),
 (5675, 2804),
 (3029, 688),
 (5271, 17),
 (4964, 1247),
 (4130, 110),
 (1451, 43),
 (5792, 3252),
 (3471, 3764),
 (4517, 1091),
 (2092, 3035),
 (3716, 818),
 (4786, 2409),
 (293, 3543),
 (767, 1339),
 (3362, 1923),
 (6037, 1343),
 (2424, 1097),
 (4237, 1625),
 (696, 1704),
 (1882, 1080),
 (5267, 3077),
 (1369, 1676),
 (2214, 1441),
 (5522, 2301),
 (877, 2716),
 (2942, 17),
 (2968, 1270),
 (3018, 459),
 (958, 2858),
 (931, 2927),
 (3693, 2118),
 (3346, 1264),
 (3182, 2657),
 (1202, 1961),
 (119, 2085),
 (2753, 1094),
 (1030, 653),
 (1465, 1975),
 (462, 3948),
 (551, 538),
 (3618, 1639),
 (5846, 1959),
 (1483, 2138),
 (4477, 2028),
 (3624, 2454),
 (1671, 2112),
 (5570, 910),
 (2880, 1377),
 (4140, 2375),
 (1601, 1801),
 (3481, 1747),
 (4861, 3787),
 (2241, 1084),
 (4309, 3826),
 (4680, 1244),
 (2063, 3412),
 (4381, 2959),
 (4742, 908),
 (3677, 2428),
 (2414, 420),
 (5837, 2105),
 (4454, 70),
 (1254, 902),
 (319, 3099),
 (3413, 1956),
 (4489, 1300),
 (4204, 3361),
 (3878, 3070),
 (4305, 39),
 (3036, 1678),
 (4411, 1617),
 (2562, 2699),
 (3259, 916),
 (4626, 208),
 (4089, 858),
 (3193, 1372),
 (1418, 737),
 (5182, 2770),
 (1647, 648),
 (934, 2724),
 (1841, 1060),
 (4498, 377),
 (3315, 1302),
 (150, 2723),
 (1593, 3173),
 (650, 3755),
 (331, 296),
 (1128, 3007),
 (340, 1321),
 (2496, 2302),
 (163, 2485),
 (4009, 2451),
 (3196, 2720),
 (1688, 1373),
 (3589, 1923),
 (5340, 2439),
 (5896, 468),
 (1741, 1952),
 (5947, 2173),
 (3391, 1047),
 (1057, 596),
 (1339, 3397),
 (1744, 3105),
 (5974, 908),
 (5714, 2762),
 (5698, 3471),
 (3108, 2863),
 (5730, 2012),
 (3422, 260),
 (2188, 1821),
 (5752, 802),
 (2085, 144),
 (5248, 1777),
 (3760, 2366),
 (4322, 1263),
 (4510, 3389),
 (1261, 2882),
 (3201, 1573),
 (2989, 3396),
 (3163, 901),
 (4726, 3271),
 (410, 180),
 (5354, 3418),
 (474, 1407),
 (517, 1225),
 (3172, 2706),
 (2334, 1213),
 (1377, 1100),
 (4447, 204),
 (3044, 3263),
 (3868, 1858),
 (1755, 1073),
 (204, 2312),
 (1837, 555),
 (166, 1206),
 (3083, 1035),
 (4618, 1527),
 (377, 1200),
 (4414, 3477),
 (3562, 3882),
 (1356, 2023),
 (585, 3752),
 (865, 329),
 (3588, 1953),
 (3898, 2248),
 (1767, 110),
 (1705, 2468),
 (4345, 1387),
 (1069, 2912),
 (3337, 3744),
 (1260, 1459),
 (83, 2762),
 (712, 2394),
 (4180, 2133),
 (4957, 1093),
 (5241, 497),
 (4771, 3546),
 (62, 916),
 (58, 2467),
 (3422, 3450),
 (4802, 1094),
 (3626, 606),
 (4823, 1393),
 (3309, 551),
 (5482, 3418),
 (1854, 3390),
 (2278, 2683),
 (498, 527),
 (3250, 593),
 (5083, 3259),
 (5573, 111),
 (31, 3640),
 (3314, 2877),
 (2885, 3160),
 (5044, 2174),
 (3771, 1597),
 (4007, 3070),
 (5015, 2058),
 (2643, 590),
 (4765, 1396),
 (4092, 3108),
 (4448, 2505),
 (3514, 745),
 (3612, 2406),
 (2955, 2640),
 (107, 923),
 (231, 1320),
 (5519, 1221),
 (5955, 17),
 (3822, 2340),
 (2928, 1270),
 (2907, 808),
 (4408, 1321),
 (3331, 1210),
 (3118, 1408),
 (3796, 248),
 (3683, 2779),
 (5881, 996),
 (2041, 1958),
 (15, 2762),
 (3323, 2581),
 (1017, 2377),
 (5339, 3107),
 (4418, 3176),
 (424, 3524),
 (2900, 1682),
 (352, 42),
 (4157, 2699),
 (5099, 1973),
 (1323, 2146),
 (2015, 10),
 ...]

In [14]:
def compute_rmse(y_pred, y_true):
    """ Compute Root Mean Squared Error. """
    
    return np.sqrt(np.mean(np.power(y_pred - y_true, 2)))

In [15]:
def evaluate(estimate_f):
    """ RMSE-based predictive performance evaluation with pandas. """
    
    ids_to_estimate = zip(movielens_test.user_id, movielens_test.movie_id)
    estimated = np.array([estimate_f(u,i) for (u,i) in ids_to_estimate])
    real = movielens_test.rating.values
    return compute_rmse(estimated, real)

In [17]:
def content_mean(user_id, movie_id):
    """ Simple content-filtering based on mean ratings. """
    
    user_condition = movielens_train.user_id == user_id
    return movielens_train.loc[user_condition, 'rating'].mean()

In [7]:
evaluate(content_mean)

1.2307824759704096

In [77]:
def coll_mean(user_id, movie_id):
    """ Simple content-filtering based on mean ratings. """
    
    user_condition = movielens_train.user_id != user_id
    movie_condition = movielens_train.movie_id == movie_id
    rating_by_others = movielens_train.loc[user_condition & movie_condition, 'rating']
    if rating_by_others.empty:
        return 'NO'
    else:
        #return rating_by_others
        return rating_by_others.mean()

In [61]:
evaluate(coll_mean)

1.1234279896011794

In [80]:
coll_mean(145, 2193)

3.3333333333333335

In [28]:
movielens_train.groupby(['gender','age'])['rating'].mean()

gender  age
F       1      3.500000
        18     3.528958
        25     3.548507
        35     3.730104
        45     3.581818
        50     3.617978
        56     3.725490
M       1      3.305556
        18     3.507712
        25     3.489764
        35     3.569591
        45     3.565574
        50     3.728125
        56     3.611111
Name: rating, dtype: float64

In [14]:
movielens_train.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,for_testing
593263,3562,3798,4,967332344,F,25,6,32812,What Lies Beneath (2000),Thriller,False
235597,1051,3793,4,974958593,F,25,0,60513,X-Men (2000),Action|Sci-Fi,False
219003,3727,2366,3,966309522,M,35,7,74401,King Kong (1933),Action|Adventure|Horror,False
685090,4666,1094,3,963843918,M,35,1,53704,"Crying Game, The (1992)",Drama|Romance|War,False
312377,3261,1095,4,968251750,M,45,20,87505,Glengarry Glen Ross (1992),Drama,False

In [88]:
ratings_mtx_df = movielens_train.pivot_table(values='rating',index='user_id',columns='movie_id')
ratings_mtx_df.head()

movie_id,1,2,4,5,6,7,10,11,12,13,...,3928,3929,3930,3932,3943,3945,3947,3948,3949,3952
user_id,,,,,,,,,,,,,,,,,,,,,
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [180]:
movielens_train.pivot_table(values='rating', index='age', columns='gender', aggfunc='count')

gender    F     M
age
1        46   108
18      259   778
25      536  1905
35      289   855
45      110   366
50       89   320
56       51   126

In [194]:
df2 = movielens_train.pivot_table(values='rating', index='age', columns='gender', aggfunc=[np.mean, np.std])
df2[['mean','std']]

            mean                 std
gender         F         M         F         M
age
1       3.500000  3.305556  1.242757  1.335765
18      3.528958  3.507712  1.162283  1.151606
25      3.548507  3.489764  1.146094  1.101005
35      3.730104  3.569591  0.984159  1.112843
45      3.581818  3.565574  1.183850  1.082775
50      3.617978  3.728125  1.049953  1.009899
56      3.725490  3.611111  0.981396  1.073106

In [9]:
user_info = users.set_index('user_id')
user_info.head(5)

        gender  age  occupation    zip
user_id
1            F    1          10  48067
2            M   56          16  70072
3            M   25          15  55117
4            M   45           7  02460
5            M   25          20  55455

In [10]:
user_id = 3
user_info.loc[user_id,'gender']

'M'

In [108]:
def collab_gender(user_id, movie_id):
    """ Collaborative filtering using an implicit sim(u,u') based on gender. """
    
    user_condition = movielens_train.user_id != user_id
    movie_condition = movielens_train.movie_id == movie_id
    ratings_by_others = movielens_train.loc[user_condition & movie_condition]
    if ratings_by_others.empty: 
        return 3.0
    
    means_by_gender = ratings_by_others.pivot_table('rating', index='movie_id', columns='gender')
    
    user_gender = user_info.ix[user_id, 'gender']
    
    if user_gender in means_by_gender.columns: 
        return means_by_gender.loc[movie_id, user_gender]
    else:
        return means_by_gender.loc[movie_id].mean()

In [117]:
evaluate(collab_gender)

1.1740082417112805

In [118]:
class CollabGenderReco:
    """ Collaborative filtering using an implicit sim(u,u'). """

    def learn(self):
        """ Prepare datastructures for estimation. """
        
        self.means_by_gender = movielens_train.pivot_table('rating', index='movie_id', columns='gender')

    def estimate(self, user_id, movie_id):
        """ Mean ratings by other users of the same gender. """
        
        if movie_id not in self.means_by_gender.index: 
            return 3.0
        
        user_gender = user_info.ix[user_id, 'gender']
        if ~np.isnan(self.means_by_gender.loc[movie_id, user_gender]):
            return self.means_by_gender.loc[movie_id, user_gender]
        else:
            return self.means_by_gender.loc[movie_id].mean()

reco = CollabGenderReco()
reco.learn()
evaluate(reco.estimate)

1.1740082417112805

In [120]:
class CollabAgeReco:
    """ Collaborative filtering using an implicit sim(u,u'). """

    def learn(self):
        """ Prepare datastructures for estimation. """
        
        self.means_by_age = movielens_train.pivot_table('rating', index='movie_id', columns='age')

    def estimate(self, user_id, movie_id):
        """ Mean ratings by other users of the same gender. """
        
        if movie_id not in self.means_by_age.index: 
            return 3.0
        
        user_age = user_info.ix[user_id, 'age']
        if ~np.isnan(self.means_by_age.loc[movie_id, user_age]):
            return self.means_by_age.loc[movie_id, user_age]
        else:
            return self.means_by_age.loc[movie_id].mean()

reco = CollabAgeReco()
reco.learn()
evaluate(reco.estimate)

1.2052013344107597

In [121]:
class CollabZipReco:
    """ Collaborative filtering using an implicit sim(u,u'). """

    def learn(self):
        """ Prepare datastructures for estimation. """
        
        self.means_by_zip = movielens_train.pivot_table('rating', index='movie_id', columns='zip')

    def estimate(self, user_id, movie_id):
        """ Mean ratings by other users of the same zipcode. """
        
        if movie_id not in self.means_by_zip.index: 
            return 3.0
        
        user_zip = user_info.ix[user_id, 'zip']
        if ~np.isnan(self.means_by_zip.loc[movie_id, user_zip]):
            return self.means_by_zip.loc[movie_id, user_zip]
        else:
            return self.means_by_zip.loc[movie_id].mean()

reco = CollabZipReco()
reco.learn()
evaluate(reco.estimate)

1.1256640319176328

In [123]:
class CollabOccupationReco:
    """ Collaborative filtering using an implicit sim(u,u'). """

    def learn(self):
        """ Prepare datastructures for estimation. """
        
        self.means_by_occupation = movielens_train.pivot_table('rating', index='movie_id', columns='occupation')

    def estimate(self, user_id, movie_id):
        """ Mean ratings by other users of the same occupation. """
        
        if movie_id not in self.means_by_occupation.index: 
            return 3.0
        
        user_occupation = user_info.ix[user_id, 'occupation']
        if ~np.isnan(self.means_by_occupation.loc[movie_id, user_occupation]):
            return self.means_by_occupation.loc[movie_id, user_occupation]
        else:
            return self.means_by_occupation.loc[movie_id].mean()

reco = CollabOccupationReco()
reco.learn()
evaluate(reco.estimate)

1.202876964364191

In [205]:
movielens_train.pivot_table('rating', index='genres', columns='user_id').head()

user_id,5,8,10,13,15,18,19,24,25,26,...,6016,6018,6019,6021,6022,6025,6030,6031,6036,6037
genres,,,,,,,,,,,,,,,,,,,,,
Action,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Action|Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Action|Adventure|Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Action|Adventure|Animation|Children's|Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Action|Adventure|Children's|Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
movie_info = movies.set_index('movie_id').head()
movie_info

                                       title                        genres
movie_id
1                           Toy Story (1995)   Animation|Children's|Comedy
2                             Jumanji (1995)  Adventure|Children's|Fantasy
3                    Grumpier Old Men (1995)                Comedy|Romance
4                   Waiting to Exhale (1995)                  Comedy|Drama
5         Father of the Bride Part II (1995)                        Comedy

In [206]:
class ContentGenresReco:
    """ Content filtering using an implicit sim(i,i'). """

    def learn(self):
        """ Prepare datastructures for estimation. """
        
        self.means_by_geners = movielens_train.pivot_table('rating', index='user_id', columns='genres')

    def estimate(self, user_id, movie_id):
        """ Mean ratings by other users of the same occupation. """
        
        if user_id not in self.means_by_geners.index: 
            return 3.0
        
        movie_genre = movie_info.ix[movie_id, 'genres']
        if ~np.isnan(self.means_by_geners.loc[user_id, movie_genre]):
            return self.means_by_geners.loc[user_id, movie_genre]
        else:
            return self.means_by_geners.loc[user_id].mean()

reco = ContentGenresReco()
reco.learn()
reco.estimate(145, 2193)

AttributeError: 'ContentGenresReco' object has no attribute 'means_by_geners'

In [9]:
def pearson(s1, s2):
    """Take two pd.Series objects and return a pearson correlation."""
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

In [19]:
class CollabPearsonReco:
    """ Collaborative filtering using a custom sim(u,u'). """

    def learn(self):
        """ Prepare datastructures for estimation. """
        
        self.all_user_profiles = movielens.pivot_table('rating', index='movie_id', columns='user_id')

    def estimate(self, user_id, movie_id):
        """ Ratings weighted by correlation similarity. """
        
        user_condition = movielens_train.user_id != user_id
        movie_condition = movielens_train.movie_id == movie_id
        ratings_by_others = movielens_train.loc[user_condition & movie_condition]
        if ratings_by_others.empty: 
            return 3.0
        
        ratings_by_others.set_index('user_id', inplace=True)
        their_ids = ratings_by_others.index
        their_ratings = ratings_by_others.rating
        their_profiles = self.all_user_profiles[their_ids]
        user_profile = self.all_user_profiles[user_id]
        sims = their_profiles.apply(lambda profile: pearson(profile, user_profile), axis=0)
        
        ratings_sims = pd.DataFrame({'sim': sims, 'rating': their_ratings})
        ratings_sims = ratings_sims[ratings_sims.sim > 0]
        if ratings_sims.empty:
            return their_ratings.mean()
        else:
            return np.average(ratings_sims.rating, weights=ratings_sims.sim)
        
reco = CollabPearsonReco()
reco.learn()
reco.estimate(145, 2193)

2.6109152449013782

In [20]:
def cosine(s1, s2):
    """Take two pd.Series objects and return their cosine similarity."""
    return np.sum(s1 * s2) / np.sqrt(np.sum(s1 ** 2) * np.sum(s2 ** 2))

In [22]:
class CollabCosineReco:
    """ Collaborative filtering using a custom sim(u,u'). """

    def learn(self):
        """ Prepare datastructures for estimation. """
        
        self.all_user_profiles = movielens.pivot_table('rating', index='movie_id', columns='user_id')

    def estimate(self, user_id, movie_id):
        """ Ratings weighted by correlation similarity. """
        
        user_condition = movielens_train.user_id != user_id
        movie_condition = movielens_train.movie_id == movie_id
        ratings_by_others = movielens_train.loc[user_condition & movie_condition]
        if ratings_by_others.empty: 
            return 3.0
        
        ratings_by_others.set_index('user_id', inplace=True)
        their_ids = ratings_by_others.index
        their_ratings = ratings_by_others.rating
        their_profiles = self.all_user_profiles[their_ids]
        user_profile = self.all_user_profiles[user_id]
        sims = their_profiles.apply(lambda profile: cosine(profile, user_profile), axis=0)
        
        ratings_sims = pd.DataFrame({'sim': sims, 'rating': their_ratings})
        ratings_sims = ratings_sims[ratings_sims.sim > 0]
        if ratings_sims.empty:
            return their_ratings.mean()
        else:
            return np.average(ratings_sims.rating, weights=ratings_sims.sim)
        
reco = CollabCosineReco()
reco.learn()
reco.estimate(145, 2193)

2.9651166824174418