In [2]:
import numpy as np
import pandas as pd

In [3]:
ser = pd.Series([2,3,4])
ser

0    2
1    3
2    4
dtype: int64

In [24]:
values = np.array([2.0, 1.0, 5.0, 0.97, 3.0, 10.0, 0.0599, 8.0,])
labels = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H',]
ser = pd.Series(data=values, index=labels)
ser.values

array([  2.    ,   1.    ,   5.    ,   0.97  ,   3.    ,  10.    ,
         0.0599,   8.    ])

In [37]:
movie_rating = {
    'age': 1,
    'gender': 'F',
    'genres': 'Drama',
    'movie_id': 1193,
    'occupation': 10,
    'rating': 5,
    'timestamp': 978300760,
    'title': "One Flew Over the Cuckoo's Nest (1975)",
    'user_id': 1,
    'zip': '48067'
    }
ser = pd.Series(movie_rating)
ser

age                                                1
gender                                             F
genres                                         Drama
movie_id                                        1193
occupation                                        10
rating                                             5
timestamp                                  978300760
title         One Flew Over the Cuckoo's Nest (1975)
user_id                                            1
zip                                            48067
dtype: object

In [32]:
ser.loc['gender']

'F'

In [44]:
dd = ser.loc[['gender','rating']]
type(dd)

pandas.core.series.Series